
<canvas id="scatter"></canvas>
<div id="coefficient"></div>
<div id="mse"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Content/Scripts/regression.js"></script>